body {
  margin: 0px;
}
.header {
  overflow: hidden;
  background-color: #34b7a7;
  padding: 20px 10px;
}
.header a {
  float: left;
  padding: 10px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
}
p {
  font-size: 20px;
  font-weight: 700;
}
.card-header {
  background-color: #34b7a7;
}
p {
  border-radius: 10px;
  background-color: #d0f3f0;
}
h4 {
  border-radius: 10px;
  border: 2px;
}
a {
  text-decoration: none;
}
